*{
	margin: 0;
	padding: 0;
	font-family: scan-serif;
}
.main{
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	background: linear-gradient(to left, #9c27b0, #8ecdff);
}
nav{
	width: 80%;
	position: sticky;
	margin: 20px auto;
	z-index: 1;
	align-items: center;
}
.logo{
	flex-basis: 20%;
}
.logo img{
	width: 150px;
}
.menu-options{
	flex: 1;
	text-align: right;
}
.menu-options ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}
.menu-options ul li a{
	color: #fff;
	text-decoration: none;
}
/*contact design*/
.container{
	max-width: 850px;
	height: 600px;
	margin: 50px auto;
	box-sizing: border-box;
	padding: 40px;
	box-shadow: 0 0 20px rgba(72,98,85,0.6);
}
.contact-page .input{
	width: 48%;
	float: left;
	margin-right: 4%;
}
.contact-page .input:last-child{
	margin-right: 0;
}
.input,
.msg .area{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 25px;
  border: 2px solid #e9eaea;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  transform: all 0.5s ease;
}
.msg .area{
  height: 200px;
}

.btn{
  width: 250px;
  background: #486277;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.input:focus,
.msg .area:focus{
  border: 2px solid #486255;
}
